<?xml version='1.0' encoding='UTF-8' ?>
<config>
  <taskType value='object_detection' />
  <datasetDir value='/workspace/examples/dataset' />
  <engine>
    <modelPath value='/workspace/modelZoo/yolov5.tflite' />
    <classesPath value='/workspace/modelZoo/yolov5.txt' />
    <iou value='0.7' />
    <confidence value='0.6' />
  </engine>
</config>
